:root {
    --bodycolor:#efebfa;
    --black00: #221e1e;
    --black01: #303736;
    --white00: #ffffff;
    --pink00: #ff5851;
    --pink01: #f0a8a5;
    --gray00: #e7e7e7;
    --purple01: #8989d4;
    --blue00: #2a2abd;
    --green01: #59bd99;
    --paragray00: #666665;

}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #d6e8ff;
}
body{
    background-color: var(--bodycolor);
}
/* head */
.container-fluid h1 {
    font-size: 1.4rem;
    font-family: 'Hahmlet', serif;

}

.navbar {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.251);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff5851 50%, #e7e7e7 50%);
    background: linear-gradient(to right, #ff5851 50%, #ffffff 50%);
}

.textsection {
    text-align: center;
    position: absolute;
}

.textsection h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 800;
    margin: 1vh auto;
}

.textsection h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 1vh auto;
}

.textsection h4 {
    padding: 0 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    margin: 1vh auto;
}

.imagesec {
    height: 90vh;
    position: static;
    transition: 1.5s ease;
}

.mind-img,
img {
    margin-top: 2%;
    margin-left: 2%;
    mix-blend-mode: multiply;
}

@media (max-width: 768px) {
    .textsection h1 {
        font-size: 2em;
    }

    .textsection h2 {
        font-size: 1.5em;
    }

    .textsection h4 {
        font-size: 1em;
    }

}

@media (max-width: 480px) {
    .textsection h1 {
        font-size: 1.5em;
    }

    .textsection h2 {
        font-size: 1.2em;
    }

    .textsection h4 {
        font-size: 0.9em;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container .imagesec img {
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
    animation-delay: 0.5s;
}

.common-heading {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Hahmlet', serif;

}

/* about section */

.aboutrow{
  padding: 0% 4%;
}
.aboutcolumn{
  padding: 0% 6%;
}

.about-photo img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: about-photo 3.7s linear infinite;
}
@keyframes about-photo{
    0%,100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33%{
        border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66%{
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

.aboutpara p {
    font-family: 'Montserrat', sans-serif;
    color: var(--paragray00);
    margin-top: 2%;
    font-size: 18px;
    line-height: 36px;
    text-align: justify;
}
#downloadcv {
    display: inline-block;
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #7fcfb3;
    margin-left: 15%;

}

/* skills */
.skills-container{
  overflow: hidden;
  text-align: center
}
.row{
  margin-top: 2%;
}
.row .animated img{
  width: 12%;
  margin-left: -1%;
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  .animated {
      flex-basis: 45%; /* Two columns per row on smaller screens */
  }
}
@media (max-width: 400px) {
  .animated {
      flex-basis: 100%; /* One column per row on even smaller screens */
  }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 130px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 130px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slider .slide {
    height: 130px;
    width: 250px;
    text-align: center; /* Center text below images */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slider .slide img {
    margin-bottom: 10px; /* Space between image and text */
}

.slider .slide h4 {
    margin: 0;
    font-size: 14px; /* Adjust as needed */
    color: #333; /* Adjust text color as needed */
}

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

/* project */
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: #efebfa;
	padding: 1rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/* background-color: #5a24ed38; */
    background-color: #7140f638;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}
/* stats */

#stats .all-items {
    margin: 8% 5%;
	display: flex;
	align-items: stretch;
	justify-content: center;
}
#stats .all-items .item {
	padding: 2rem;
}
#stats .number {
	font-family: 'Poppins';
	font-size: 8rem;
}
#stats .stats-sub-heading {
	font-size: 2rem;
	margin-bottom: 2rem;
}

#stats .all-items .item:nth-child(1) {
    background-color: rgba(8, 69, 241, 0.35);
}
#stats .all-items .item:nth-child(2) {
    background-color: rgba(0, 255, 115, 0.151);
}
#stats .all-items .item:nth-child(3) {
    background-color: #cbbef093;
}

#stats .all-items .item:nth-child(1):hover {
    background-color: rgba(8, 69, 241, 0.53);
}
#stats .all-items .item:nth-child(2):hover {
    background-color: rgba(0, 255, 115, 0.329);
}
#stats .all-items .item:nth-child(3):hover {
    background-color: #4705fc50;
}

@media only screen and (max-width: 768px) {
	#stats .all-items {
		flex-direction: column;
        gap: 1px;
	}
}

/* contact */

.contact-divide{
    margin: 6%;
    display: flex;
    align-items: center;
}
.contactleft{
    background-color: #f8f9fa;
    width: 50%;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .alert{
    width: max-content;
    background: rgb(75, 241, 144);
    padding: 10px 20px;
    margin: 3% auto;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
 }

 .contactright img{
    pointer-events: none;
    border-radius: 5%;
    width: 500px;
    margin-left: 12%;
 }

 @media (max-width: 768px) {
    .contactleft {
        flex-basis: 80%;
        align-items: center;
        justify-content: center;
    }

    .contactright {
        display: none;
    }
  }

  /* Scroll to Top Button Styles */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #303736;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-decoration: none;
    font-size: 24px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: scale(0);
  }
  
  .scroll-to-top:hover {
    background-color: #404848;
  }
  
  .scroll-to-top svg {
    fill: white;
  }
  
  .scroll-to-top.show {
    opacity: 1;
    transform: scale(1);
  }
  

  /* footer */

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 400px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }
}

/*Other*/

.unique-color-dark {
    background-color: #7289da !important;
}

.bg-light {
    background-color: #7289DA !important;
}

.custom-color {
    background-color: #7289DA !important
}